
.profile-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 50vh;
    background-color: rgb(255, 226, 231);
}



.circle{
    height: 250px;;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.profile{
    height: 40vh;
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3.5vh;
}

.small{
	height: 30px;
	width: 30px;
}


.container{
	width: 1400px;
	margin: 20px auto;
	columns: 4;
	column-gap: 20px;
}

.container .box{
	width: 100%;
	margin-bottom: 10px;
	break-inside: avoid;
}

.container .box img{
	max-width: 100%;
	border-radius: 7px;
}


@media(max-width:1200px)
{
	.container
	{
		width: calc(100% - 40px);
		columns: 3;
	}
}

@media(max-width:768px)
{
	.container
	{
		columns: 2;
	}
}

@media(max-width:480px)
{
	.container
	{
		columns: 1;
	}
}

.container .box {
    position: relative;
    overflow: hidden;
}

.container .box .caption {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
	border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container .box:hover .caption {
    opacity: 1;
}

.delete{
	height: 20px;
	width: 20px;
	object-fit: cover;
	border-radius: 0;

	overflow: hidden;
	position: absolute;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.container .box:hover .delete {
    opacity: 1;
}
